extends _base
block content
  h2 Olá #[strong #{firstName}]!
  p Você soliticitou a recuperação do seu acesso, clique no link abaixo para criar uma nova senha:

  center.call-action
    a.mui-btn.mui-btn--raised.mui-btn--primary(href=url, target="_blank") Criar uma nova senha